:root {
    --primary-color: #2B4CB8;
    --primary-dark: #0C3197;
    --primary-light: #2F80ED;

    --secondary-color: #D81B60;
    --secondary-dark: #A00037;
    --secondary-light: #FF5C8D;

    --background: #FFFFFF;
    --background-gray: #828282;
    --background-dark: #575757;

    --border-color: #E6E6E6;

    --big-font: 26px;
    --medium-font: 16px;
    --small-font: 14px;

    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vw;
}

body {
    background: var(--background);
}